/* ------------------- General button styles ------------------- */
button {
	width: 100%;
	padding: 0.5em 2.5em;
	text-align: center;
}

/* ------------------- Custom classes ------------------- */
.more {
	display: block;
	width: 100%;
	margin-top: 1em;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}