/* ------------------- Font sizing ------------------- */
h1 {
	font-size: 60px;
}

h2 {
	font-size: 38px;
}

h3 {
	font-size: 34px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 26px;
}

h6 {
	font-size: 22px;
}

p {
	font-size: 18px;
}

/* ------------------- Font weights ------------------- */
h1, h2 {
	font-weight: 600;
}

h3, h4 {
	font-weight: 400;
}

h5, h6, p {
	font-weight: 300;
}

/* ------------------- Custom classes ------------------- */
.title {
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
	text-transform: uppercase;

	color: rgba(255, 255, 255, 0.8);
}

.tableTitle {
	margin-bottom: 0.5em;
}