* {
	box-sizing: border-box;

	padding: 0;
	margin:  0;
	border:  none;

	font-family: "Josefin Sans", "sans-serif";
	text-align: justify;

	color: #333;
}

html, body {
	position: relative;

	height: 100%;
	width:  100%;

	background-color: #FFF;
}

a {
	text-decoration: none;
}

.container {
	width: 75%;

	padding: 2em 0;
	margin: auto;

	position: relative;
}