/* ------------------- General button styles ------------------- */
button {
	width: 100%;

	padding: 0.5em 2.5em;

	text-align: center;
	color: #FFF;

	background-color: transparent;

	border: 1px solid #FFF;
}

/* ------------------- Custom classes ------------------- */
.more {
	display: block;
	width: 100%;
	margin-top: 1em;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}