/* ------------------- Font sizing ------------------- */
h1 {
	font-size: 60px;
}

h2 {
	font-size: 38px;
}

h3 {
	font-size: 34px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 26px;
}

h6 {
	font-size: 22px;
}

p {
	font-size: 18px;
}

a {
	transition: color 0.3s;
}

a:hover {
	color: #999;
}

/* ------------------- Font weights ------------------- */
h1, h2 {
	font-weight: 600;
}

h3, h4 {
	font-weight: 400;
}

h5, h6, p {
	font-weight: 300;
}

/* ------------------- Custom classes ------------------- */
.title {
	border-bottom: 2px solid #FFF;

	text-shadow:    1px 1px 1px rgba(255, 255, 255, 0.8);
	text-transform: uppercase;

	color: rgba(255, 255, 255, 0.8);
}

.title_rules {
	margin-bottom: 1em;
}

.subtitle_rules {
	margin-bottom: 0.5em;
}

.tableTitle {
	margin-bottom: 0.5em;
}

.link_index {
	font-size: 2em;
}

.error_message {
	color: #F00;
}

.success_message {
	color: #0F0;
}

.greeting {
	margin-top: 1em;
}

.logout {
	display: inline-block;

	width: 100%;

	color: #F00;
}

/* ------------------- Custom selectors ------------------- */
.content p {
	margin-bottom: 0.5em;
}