/* ------------------- General Elements ------------------- */
fieldset {
	margin:  0;
	padding: 1em;

	border: 2px solid #FFF;

	text-align: center;
}

legend {
	padding: 0 1em;

	font-size: 1.5em;
}

form {
	text-align: center;
}

input, label, textarea, select {
	display: block;

	width: 100%;
}

label {
	margin: 1em auto 0.25em;

	font-size: 1.25em;
}

input {
	margin:  0.1em auto 1em;
	padding: 0.5em 1em;

	color: #000;

	border: none;
	border-radius: 50px;
}

textarea {
	margin: 1em auto 0.25em;
	padding: 0.5em 1em;

	color: #000;
}

select {
	margin: 0.1em auto 1em;
	padding: 0.5em 1em;

	color: #000;
}

option {
	color: #000;
}

button {
	width: 100%;

	border: 1px solid #FFF;

	font-size:  1.25em;
	text-align: center;

	background-color: white;

}

/* ------------------- Custom classes ------------------- */
.fieldset_login {
	margin: 8em auto;
}

.teamChoice {
	padding: 0.5em;

	border: 1px solid #FFF;
}

.button {
	width: 75%;

	margin:  1em auto 1em;
	padding: 0.5em 2.5em;

	transition: background-color 0.3s, color 0.3s;
}

.button:active, .button:focus, .button:hover {
	border-color: #999;

	color: #FFF;

	background-color: #999;
}

.games_form {
	border: 1px solid #FFF;	
	margin: 0.5em;
	padding: 0.5em;
}

.games_label, .games_input, .games_label_checkbox, .games_input_checkbox {
	display: inline-block;
}

.games_label {
	width: 7.5em;
}

.games_input {
	width: 3em;

	padding: 0.5em;

	text-align: center;
}

.principal {
	text-align: right;
	margin-right: 1em;
}

.visiting {
	text-align: left;
	margin-left: 1em;
}

.games_label_checkbox {
	width: 4.25em;
	text-align: left;
}

.games_input_checkbox {
	width: auto;
	margin: 0.05em auto;

	text-align: center;
}
/* ------------------- Custom Facebook button ------------------- */
.button_facebook {
	padding: 0.5em;

	border-color: #29447E;

	background-image:    url(facebook.png) !important;
	background-origin:   content-box;
	background-position: center left;
	background-repeat:   no-repeat;
	background-size:     contain;

	background-image: -webkit-linear-gradient(#637BAD, #5872A7);
	background-image:    -moz-linear-gradient(#637BAD, #5872A7);
	background-image:     -ms-linear-gradient(#637BAD, #5872A7);
	background-image:      -o-linear-gradient(#637BAD, #5872A7);
	background-image:         linear-gradient(#637BAD, #5872A7);

	background-color: #5872A7;
}

.button_facebook:active, .button_facebook:focus, .button_facebook:hover  {
	border-color: #3B5998;	
}

.button_facebook:active, .button_facebook:hover, .button_facebook:focus {
	background-color: #3B5998;
}