dt, dd {
	display: block;
}

dt {
	margin: 0.25em auto;

	font-weight: bold;
}

dd {
	margin: 0.25em auto 2em;
}

ul {
	list-style: none;
}

.teams {
	text-align: center;
}

.team {
	display: inline-block;

	width: 17.5%;

	margin: 0.5em;
}

.group_invite {
	margin-bottom: 2em;
}

.dashboard_list {
	margin: 1em auto;
}

.dashboard_list_item {
	margin: 1em auto;
	padding-left: 1em;
	border-left: 3px solid #999;
}