* {
	box-sizing: border-box;

	padding: 0;
	margin:  0;
	border:  none;

	font-family:     "Josefin Sans", "sans-serif";
	text-align:      justify;
	text-decoration: none;

	color: cadetblue;

	outline: none;
}

html, body {
	position: relative;

	height: 100%;
	width:  100%;

	background-attachment: fixed;
	background-image:      url(background.jpg);
	background-position:   center center;
	background-repeat:     no-repeat;
	background-size:       cover;
}

.overlay {
	min-height: 100%;
	width:  100%;

	background-color: rgba(0, 0, 0, 0.6);
}

.container, .container_medium, .container_index {
	position: relative;

	height: 100%;
	min-height: 100%;

	padding: 2em;
	margin:  auto;

	text-align: center;

	background-color: rgba(0, 0, 0, 0.6);
}

.container {
	width:  80%;
}

.container_medium {
	width: 50%;
}

.container_index {
	width:  25%;
}

.content {
	height: 75%;

	margin: 2.5em auto;
}

.content-medium {
	width: 80%;

	margin: auto;
}

.content-small {
	width: 50%;

	margin: auto;
}

.split {
	-webkit-column-count: 2;
	   -moz-column-count: 2;
	        column-count: 2;

	-webkit-column-rule: 1px solid #FFF;
	   -moz-column-rule: 1px solid #FFF;
	        column-rule: 1px solid #FFF;	
}

@media (max-width: 1700px) {
	.container_index {
		width:  30%;
	}
}

@media (max-width: 1400px) {
	.container_index {
		width:  40%;
	}
}

@media (max-width: 1100px) {
	.container_index {
		width:  50%;
	}
}

@media (max-width: 900px) {
	.container_index {
		width:  80%;
	}
}

@media (max-width: 1200px) {
	.container_medium {
		width:  70%;
	}
}

@media (max-width: 800px) {
	.container_medium {
		width:  90%;
	}
}