/* ------------------- General section styles ------------------- */
section {
	margin-bottom: 1em;

	vertical-align: top;
}

/* ------------------- Custom classes ------------------- */
.header {
	background-color: rgba(0, 100, 0, 0.8);
}

.score, .ranking {
	display: inline-block;
	width:   45%;

	position: absolute;
}

.score {
	left: 0;
}

.ranking {
	right: 0;
}

.games_title {
	margin: auto;

	text-align: center;
}

.versus {
	margin: 0 0.25em;
}

.dashboard_link {
	width: auto;
	float: right;

	margin-top: 3em;
}