/* ------------------- General table styles ------------------- */
table {
	vertical-align: top;

	border-collapse: collapse;

	background-color: #FFF;
}

th, td {
	vertical-align: middle;
}

th {
	padding: 0.5em 2.5em;

	background-color: #CCC;
}

td {
	padding: 0.5em 1em;
	border-bottom: 1px solid #CCC;

	color: #666;
}

/* ------------------- Font definitions ------------------- */
th, td {
	text-align: center;
}

th {
	font-size: 26px;
	font-weight: 400;
}

td {
	font-size: 18px;
	font-weight: 300;
}

/* ------------------- Border definitions ------------------- */
table, thead, tbody {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

th:first-child {
	-webkit-border-top-left-radius: 5px;
	   -moz-border-top-left-radius: 5px;
	        border-top-left-radius: 5px;
}

th:last-child {
	-webkit-border-top-right-radius: 5px;
	   -moz-border-top-right-radius: 5px;
	        border-top-right-radius: 5px;
}

tbody tr:last-child td:first-child {
	-webkit-border-bottom-left-radius: 5px;
	   -moz-border-bottom-left-radius: 5px;
	        border-bottom-left-radius: 5px;
}

tbody td:last-child td:last-child {
	-webkit-border-bottom-right-radius: 5px;
	   -moz-border-bottom-right-radius: 5px;
	        border-bottom-right-radius: 5px;
}

tbody tr:last-child td {
	border-bottom: none;
}

/* ------------------- Stripped style ------------------- */
tbody tr:nth-child(even) {
	background-color: #F9F9F9;
}

/* ------------------- Hover effects ------------------- */
tbody:hover td {
	opacity: 0.5;

	color: transparent;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

tbody:hover tr:hover td {
	opacity: 1;

	color: #333;
	text-shadow: none;
}

/* ------------------- Custom classes ------------------- */
.gamesTable, .rankingTable, .membersTable {
	width: 100%;
	margin: auto;
}

.dateColumn, .timeColumn, .enrollColumn {
	width: 15%;
}

.gameColumn {
	width: 55%;
}

.nameColumn {
	width: 80%;
}

.rankColumn {
	width: 20%;
}

.games_table {
	margin: 1em auto;
}

.games_table th, .games_table td {
	font-size: 1em;
}